@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Assesment</h1>
    
    <p><a href="https://localhost:7171/home/Privacy"> Banco de dados interno</a> </p>
    <p><a href="https://localhost:7171/home/BEx"> Banco de dados Azure</a> </p>
</div>
