@{
    ViewData["Title"] = "BAnco interno";
}
<h1>@ViewData["Title"]</h1>

<p><a href="https://localhost:7171/Pais">Pais</a></p>
<p><a href="https://localhost:7171/Estado">Estado</a></p>
<p><a href="https://localhost:7171/Pais">Amigos</a></p>